<app-dialog [dialogTitle]="'Modify Todo'" [dialogWidth]="600" #dialogComponent>
  <ng-container content>
    <div [formGroup]="todoFg" class="flex flex-col gap-y-8">
      <div class="flex justify-start items-center gap-x-4">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Title</mat-label>
          <input matInput #titleInput formControlName="title" />
          <mat-hint align="end">{{titleInput.value?.length || 0}}/{{ titleMaxLength }}</mat-hint>
        </mat-form-field>
      </div>
      <div class="flex justify-start items-center gap-x-4">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Assign</mat-label>
          <mat-select formControlName="user">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let user of usersOptions" [value]="user">
              {{user.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="flex justify-between items-center gap-x-4">
        <div class="flex justify-start items-center w-1/2">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Priority</mat-label>
            <mat-select formControlName="priority">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let priority of priorityOptions" [value]="priority">
                {{priority | todoPriorityLabel}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex justify-start items-center w-1/2">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Status</mat-label>
            <mat-select formControlName="state">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let status of statusOptions" [value]="status">
                {{status ? 'Completed' : 'In Progress'}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container actions>
    <div class="flex justify-center gap-x-6">
      <button mat-raised-button
              color="primary"
              class="w-1/3"
              [disabled]="todoFg.invalid"
              (click)="onEditTodo.next()">Save</button>
      <button mat-raised-button
              color="accent"
              class="w-1/3"
              (click)="dialogComponent.close()">Cancel</button>
    </div>
  </ng-container>
</app-dialog>
