<div class="flex-col">
  <div class="flex items-center gap-x-4 text-gray-500 dark:text-green-200">
    <span>Filter by:</span>
    <a
      routerLinkActive="text-green-500 dark:text-orange-400"
      [routerLink]="['/todos']"
      [queryParams]="{ state: true }">Completed</a>
    <a
      routerLinkActive="text-green-500 dark:text-orange-400"
      [routerLink]="['/todos']"
      [queryParams]="{ state: false }">In progress</a>
    <fa-icon
      title="Reset filter"
      class="text-gray-400 dark:text-orange-300 hover:cursor-pointer ml-2"
      (click)="resetFilter()"
      [icon]="faEraser"></fa-icon>
  </div>
  <ng-container *ngIf="todoListLength$ | async; else EmptyStateTemplate">
    <ng-container *ngFor="let todo of todoList$ | async; trackBy: todoTrack; let i=index">
      <app-todo-list-item [todoItem]="todo"></app-todo-list-item>
    </ng-container>
  </ng-container>
  <ng-template #EmptyStateTemplate>
    <h2 class="text-center font-bold text-xl text-gray-500 dark:text-green-200">Empty Todo List</h2>
  </ng-template>
</div>
<mat-divider class="my-4 text-gray-500 dark:text-green-200"></mat-divider>
<div>
  <button
    mat-flat-button
    *ngIf="(todoListLength$ | async) < 5"
    class="p-1 text-sm border border-green-600 border-solid text-white bg-green-500 hover:bg-green-600 mr-2"
    (click)="addItem()">Add one more task</button>
  <button mat-flat-button
          class="p-1 text-sm border border-red-600 border-solid text-white bg-red-500 hover:bg-red-600"
          (click)="cleanTodoList()">Delete All</button>
</div>

