<div class="todo-list">
  <div class="todo-list__filters"
       [formGroup]="filterFg">
    <span>Filter by:</span>
    <mat-form-field appearance="fill">
      <mat-label>Assign</mat-label>
      <mat-select [formControl]="userCtrl">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let user of userOptions; trackBy: userTrackFn" [value]="user">
          {{user.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Priority</mat-label>
      <mat-select [formControl]="priorityCtrl">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let priority of priorityOptions" [value]="priority">
          {{priority | todoPriorityLabel}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <ng-container *ngIf="todoListLength$ | async as length; else EmptyStateTemplate">
    <div cdkDropListGroup class="todo-list__body">
      <div *ngIf="(todoList$ | async | todoListFilter: {user: userCtrl.value, priority: priorityCtrl.value, state: false}) as inProgressTodos"
           class="column__wrapper">
        <div class="column__title">In progress: ({{inProgressTodos.length}}/{{length}})</div>
        <div
          cdkDropList
          [cdkDropListData]="inProgressTodos"
          (cdkDropListDropped)="drop($event)">
          <div class="column__items" *ngIf="inProgressTodos.length; else EmptyStateTemplate">
            <app-todo-list-item
              cdkDrag
              [cdkDragData]="todo"
              *ngFor="let todo of inProgressTodos; trackBy: todoTrackFn"
              [todoItem]="todo"></app-todo-list-item>
          </div>
        </div>
      </div>
      <div *ngIf="(todoList$ | async | todoListFilter: {user: userCtrl.value, priority: priorityCtrl.value, state: true}) as completedTodos"
           class="column__wrapper">
        <div class="column__title">Done: ({{completedTodos.length}}/{{length}})</div>
        <div
          cdkDropList
          [cdkDropListData]="completedTodos"
          (cdkDropListDropped)="drop($event)">
          <div class="column__items" *ngIf="completedTodos.length; else EmptyStateTemplate">
            <app-todo-list-item
              cdkDrag
              [cdkDragData]="todo"
              *ngFor="let todo of completedTodos; trackBy: todoTrackFn"
              [todoItem]="todo"></app-todo-list-item>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #EmptyStateTemplate>
    <h2 class="empty__title">Empty List</h2>
  </ng-template>
</div>

